@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 11, 11, 26;
  --background-end-rgb: 26, 26, 46;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.space-gradient {
  background: linear-gradient(45deg, #0B0B1A, #1A1A2E);
}

.glow {
  text-shadow: 0 0 10px rgba(76, 201, 240, 0.3);
}